<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Implementation of ZuMult for TGDP</description>
    <servlet>
        <servlet-name>ZumultDataServlet</servlet-name>
        <servlet-class>org.zumult.webservices.ZumultDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZumultDataServlet</servlet-name>
        <url-pattern>/ZumultDataServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- ******************************* -->
    <!-- Configuration of Authentication -->
    
    <!-- (1) resources without protection -->
    <security-constraint>
        <display-name>NoLoginRequired</display-name>
        <web-resource-collection>
            <web-resource-name>app</web-resource-name>
            <url-pattern>/index.html</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/documentation.jsp</url-pattern>
            <url-pattern>/resetpasswordrequest.jsp</url-pattern>
            <url-pattern>/resetpassword.jsp</url-pattern>
            <url-pattern>/js/register.js</url-pattern>
            <url-pattern>/Register</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/images/corpora/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/favicon.ico</url-pattern>
            <url-pattern>/jsp/corpusoverview.jsp</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>

    <!-- (2) resources with protection -->
    <!-- can/should be disabled for development / deployment on local host -->
    <!-- <security-constraint>
        <display-name>LoginFirstConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ZuMult</web-resource-name>
            <description>Everything else</description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ZUMULT_USER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config> -->
    
</web-app>
