/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.05.2020, 13:00:01
    Author     : Elena
*/
/* used colors 

blue: #337AB7, #89B4D9, #d9edf7
grey: #f3f3f3

*/


button:disabled {cursor: not-allowed; pointer-events: all !important;}

/***************** tooltip style *****************/
.context-menu {cursor: default;}
            
/***************** header style ********************/
.navbar {background-color: #337AB7; color: white;}
.navbar-nav > li > a {color: white;}
#logout {margin-left: 10px;}

/**************** corpora card style ****************/  
#corpus-info-button { background-color: #89B4D9; color: white; border-color: #337AB7;}
.checkbox-container-card .card-header {color: #337AB7; background-color: #f3f3f3; font-size: 18px; font-family:Lucida Sans Unicode;}
.checkbox-container-card {border-color: #337AB7; background-color: white;}
.custom-control-label:before{border-color: #89B4D9;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #89B4D9; border-color: #89B4D9;}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {background-color: #89B4D9; border-color: #89B4D9;}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{border-color: #89B4D9; box-shadow: 0 0 0 1px #89B4D9, 0 0 0 0.2rem rgba(137, 180, 217, 0.25);}


/***************** tabs style ********************/
.nav-tabs > li > a {color: #337AB7;}

/***************** search form style ********************/
/*#kwic-search-form {padding-top:15px;}*/
/*#kwic-search-form .btn { background-color: #f8991d; color: white; border-color: #4d7997;}*/
#queryInputField {border-color: #4d7997;}
#sampleQueries-content .form-control option:checked  {background-color: #89B4D9;}
#btn-open-query-help{background-color: #d9edf7;}

/***************** repetition search form style ****************************************/
#btn-open-repetitions-help {background-color: #d9edf7;}
.firstInRow {width:350px; float:left;}

/***************** vocabulary search form style ********************/

/*#open-thematic-vocabulary-lists-btn { background-color: #89B4D9; color: white; border-color: #337AB7;}*/
.vocabulary-list-content {height: 400px; overflow-y: scroll;}
#vocabulary-lists-card .card-header {color: #337AB7; background-color: #f3f3f3; font-size: 18px; }
/*#open-thematic-vocabulary-lists-btn {box-shadow: 0 0 0 2px #5cb85c, 0 0 0 0.2rem rgba(92, 184, 92, 0.25);}*/
#open-thematic-vocabulary-lists-btn {/*border-color: #337AB7; background-color: #d9edf7; color: #337AB7; */ font-size : 15px; }
#btn-open-vocabulary-help {background-color: #d9edf7;}
.custom-file-label::after {left: 0; right: auto; border-left-width: 0; border-right: inherit;}
.custom-file-label{ padding-left: 90px;}

/***************** results card style *******************/    
.kwic-card .card-header{ height: 40px; padding-top: 5px; background-color: #d9edf7; border-bottom: none; color: #337AB7;}
.kwic-card {border-color: white; margin-top: 20px;}
.kwic-card .card-footer{background-color: white;}

/****************result summary style *************/
/*
#search-results{padding-left: 10px; font-family:Lucida Sans Unicode; }*/
#search-results{font-weight: bold;}
#total-hits{font-weight: bold;}

/*************** pagination style *************************/
.kwic-pagination > li > a{color: #337AB7;}
.kwic-pagination > .active > a {color: white; background-color: #89B4D9; border: solid 1px #89B4D9;}
.kwic-pagination > .disabled > a {color: grey;}

/************* row data style *******/
.rowData-Response {padding: 0 18px; overflow: hidden; background-color: #fafafa; margin: 10px;}

/***************** kwic and statistic table style ********************/
.table{ font-size: 14px;}
span.match {font-weight: bold; color:red}
span.non-speech {color: grey;}

td.transcript > a {color: black; font-weight: bold;}
td.speaker > a  { color: #337AB7; }
td.speaker {padding-left: 30px;}
td.dgd-link > a{ color: #337AB7;}
td.zumult-link > a{color: #337AB7;}
td.kwic-link > a{color: #337AB7;}

#statistic_table .btn {color: #337AB7;}
#statistic_table {margin-top: 20px;}

td.numberOfHits {text-align: center;}
td.numberOfTokens {text-align: center;}
/*td.numberOfHitsRel {text-align: center;}*/
td.transcript{width: 100px; text-align: center;}
td.metadataValue {width: 350px; text-align: center;}
td.open-kwic-link{width: 100%;}
td.kwic-link{width: 250px;}
td.statistic-link{width: 180px;}
td.numberOfTypesOfHits {text-align: center;}
td.numberOfAbsAndRelHits {text-align: center; width: 100px;}

th {text-align: center; background-color: #d9edf7; color: #337AB7;white-space:nowrap;}
th.numbering {text-align: left;}

/************** collapsible elements ******/        
.content {display: none;}      
.collapsible {cursor: pointer; border: none; text-align: right; text-decoration: underline; color: blue; margin: 10px; color: #337AB7;}

/**************** modal window ****************/
.query-example {background-color: #f3f3f3; color: #337AB7;}
.query-note span {background-color: #FFF7C8; display: table; padding: 10px; border-radius: 5px; border: 2px solid red;}
.query-example:hover {background-color: #89B4D9; color: white; cursor: pointer;}
.modal-header {background-color: #337AB7; color: white;} 
.modal-xl {max-width: 1300px;}
.pattern {color: #337AB7;}
.query-description {color: black}


/***************** wavesurfer area *******************/
#btn-audio-stopp{width: 80%; }


/****************** statistic view *************************/
.link {
    color:blue;
    /*text-decoration:underline;*/
    cursor:pointer;
}

/****************** autocomplete *************************/
#autocompleteForQueryInputField{position: absolute;top: 0px;left: 0px;z-index:9;background:#fff;}
#autocompleteForQueryInputField span{color: black;}
#autocompleteForQueryInputField span.list-group-item-action:hover {background:#f3f3f3;}
#autocompleteForQueryInputField .card-header {color: #337AB7; background-color: #f3f3f3; font-size: 14px; font-family:Lucida Sans Unicode;}
#autocompleteForQueryInputField .card-header:hover{cursor: pointer;}
#autocompleteForQueryInputField .card-body {padding-top: 0px; padding-right: 0px; padding-bottom: 0px;}
